@import "compass";
@import "compass/reset";
@import "compass/typography/lists/horizontal-list";
@import "recipes/background/carbon-fiber";


@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}
@mixin emboss($blur: 3px, $opacity: 0.5) {
  @include box-shadow(0 1px $blur rgba(255,255,255,$opacity));
}


  @mixin letterpress($opacity: 0.5){
  @include text-shadow(0 1px 0 rgba(255,255,255,$opacity));
}

body {
  width: 1600px;
  height: 1500px;
  @include background-carbon-fiber;

 // @include background-image(linear-gradient(bottom, #f3fbe9 0%, #d5f6a7 100%)); //

}
.box{
  @include letterpress;
  font-family: verdana;
  font-size: 1.1em;
  width: 1200px;
  margin: 3% 3% ;
  position: fixed;

}
nav a {
  display: inline-block;
  width: 300px;
  padding: 20px 0 20px 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  color: white;
  background: #353535;
  border-radius: 6px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

nav a:hover {
background: #0090ff;

}
a {
  @include emboss;

  color: #0090ff;
  text-decoration: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

.text{
  color: white;
  margin: auto;
  padding: 30px;

}
.letterRed{
  color:#FF0000;
  font-weight: bold;
  font-size: 1.1em;

}

