@import "compass";
@import "compass/reset";
@import "compass/typography/lists/horizontal-list";
@import "recipes/background/carbon-fiber";


@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

body {
width: 1600px;
height: 1500px;
 @include background-carbon-fiber;

 // @include background-image(linear-gradient(bottom, #f3fbe9 0%, #d5f6a7 100%)); //

}
.box{
  font-family: verdana;
font-size: 1.3em;
width: 1300px;
margin: 22% 22% ;
position: fixed;

}
nav a {
display: inline-block;
width: 260px;
padding: 20px 0 20px 20px;
margin-right: 20px;
margin-bottom: 20px;
color: white;
background: #353535;
border-radius: 6px;
-webkit-transition: background 0.3s linear;
-moz-transition: background 0.3s linear;
-o-transition: background 0.3s linear;
-ms-transition: background 0.3s linear;
transition: background 0.3s linear;
}

nav a:hover {
background: #0090ff;

}
a {
color: #0090ff;
text-decoration: none;
transition: color 0.5s ease;
transition: text-shadow 0.5s ease;
-webkit-transition: color 0.5s ease;
-webkit-transition: text-shadow 0.5s ease;
-moz-transition: color 0.5s ease;
-moz-transition: text-shadow 0.5s ease;
-o-transition: color 0.5s ease;
-o-transition: text-shadow 0.5s ease;
-ms-transition: color 0.5s ease;
-ms-transition: text-shadow 0.5s ease;
}

.text{
  color: white;
  margin: auto;
  padding: 30px;

}
.letterRed{
  color:#FF0000;
  font-weight: bold;
  font-size: 1.1em;

}

