/* line 5, C:/wamp/www/projectSass/sass/style.scss */
body {
  width: 1280px;
  height: 1024px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0347a7), color-stop(100%, rgba(3, 71, 168, 0)));
  background-image: -webkit-linear-gradient(bottom, #0347a7 0%, rgba(3, 71, 168, 0) 100%);
  background-image: -moz-linear-gradient(bottom, #0347a7 0%, rgba(3, 71, 168, 0) 100%);
  background-image: -o-linear-gradient(bottom, #0347a7 0%, rgba(3, 71, 168, 0) 100%);
  background-image: linear-gradient(bottom, #0347a7 0%, rgba(3, 71, 168, 0) 100%);
}

/* line 11, C:/wamp/www/projectSass/sass/style.scss */
.bouton {
  font-size: 4em;
  padding: 8px 13px;
  color: #fff;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #048d85), color-stop(35.35%, #08b59b), color-stop(100%, #d7e5c3));
  background-image: -webkit-linear-gradient(bottom, #048d85 0%, #08b59b 35.35%, #d7e5c3 100%);
  background-image: -moz-linear-gradient(bottom, #048d85 0%, #08b59b 35.35%, #d7e5c3 100%);
  background-image: -o-linear-gradient(bottom, #048d85 0%, #08b59b 35.35%, #d7e5c3 100%);
  background-image: linear-gradient(bottom, #048d85 0%, #08b59b 35.35%, #d7e5c3 100%);
}
/* line 20, C:/wamp/www/projectSass/sass/style.scss */
.bouton .bouton:hover {
  background-color: green;
  padding: 50px;
}

/* line 25, C:/wamp/www/projectSass/sass/style.scss */
.header {
  margin: 0;
  width: 800px;
  height: 200px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #008dcd), color-stop(39.99%, #2fa5dd), color-stop(40.99%, #5bb7e7), color-stop(100%, #3a8dcb));
  background-image: -webkit-linear-gradient(bottom, #008dcd 0%, #2fa5dd 39.99%, #5bb7e7 40.99%, #3a8dcb 100%);
  background-image: -moz-linear-gradient(bottom, #008dcd 0%, #2fa5dd 39.99%, #5bb7e7 40.99%, #3a8dcb 100%);
  background-image: -o-linear-gradient(bottom, #008dcd 0%, #2fa5dd 39.99%, #5bb7e7 40.99%, #3a8dcb 100%);
  background-image: linear-gradient(bottom, #008dcd 0%, #2fa5dd 39.99%, #5bb7e7 40.99%, #3a8dcb 100%);
}
